<template name="postSubmit">
    <form class="main form page">
        <div class="form-group">
            <label class="control-label" for="objectid">Facebook Object ID</label>
            <div class="controls">
                <input name="objectid" id="objectid" type="text" value="" placeholder="Facebook Objects ID" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="objectid">Facebook Page ID</label>
            <div class="controls">
                <input name="fromid" id="fromid" type="text" value="133615754492" placeholder="133615754492" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="url">URL</label>
            <div class="controls">
                <input name="url" id="url" type="text" value="" placeholder="URL" class="form-control"/>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template>